<%= content_for(:title, "Edit #{@player.first_name} Profile") %>
<h1>This is edit page</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @player, url: players_show_url(@player), html: { method: :patch }  do |form| %>
  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </p>

  <%= form.submit %>
<% end %>

<!-- <form action="/players/<%= @player.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label>First Name</label>
    <input type="text" name="player[first_name]" value="<%= @player.first_name %>">
  </p>

  <p>
    <label>Last Name</label>
    <input type="text" name="player[last_name]" value="<%= @player.last_name %>">
  </p>
  <input type="submit" value="Update">
</form> -->

<%= link_to 'Go Back', root_path %>